# This file is an example of environment variables for local testing of the GitHub Action.
# Copy this file to .env and fill in the values to test locally by running `npm run local-action`

ACTIONS_STEP_DEBUG=true
CI=true
GITHUB_TOKEN=<github-pat-token>
GITHUB_REPOSITORY=<owner>/<repo>
GITHUB_WORKSPACE=<local-path-to-repo>
GITHUB_ACTOR=<actor>
GITHUB_EVENT_NAME=push
GITHUB_SHA=<actual_commit_hash_here>
GITHUB_REF=<refs/heads/main>

INPUT_URL=https://docs.wpvip.com
INPUT_OPENAI_API_KEY=<openai-api-key>
INPUT_FIRECRAWL_API_KEY=<firecrawl-api-key>
GITHUB_EVENT_PATH=./event.json
