node_modules
# explicitly don't ignore dist as GitHub needs the JS file compiled into 1 file. See:
# https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action#commit-tag-and-push-your-action-to-github
!dist
.idea
dist-dev
